.app {
    font-family: "Poppins", sans-serif;
    color: #000;

    .container {
        width: 1140px;
        margin: 0 auto;
    }

    .container-fluid {
        width: 100%;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .header {
        padding: 0 50px;

        .navbar {
            
        }
    }
}